{{#partial "contenido"}}
    <h1>Transformadores</h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Transformador</th>
            <th>Consumo</th>
            <th>Ubicación</th>
        </tr>

        {{#each reportes}}
            <tr>
                <td>{{transformadorId}}</td>
                <td>{{isNumber consumo "No está disponible el consumo de este transformador"}}</td>
                <td>{{coordenadas}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{#with page}}
        <ul class="pagination justify-content-center">
            <li class="{{#if isFirst}}page-item disabled{{else}}page-item{{/if}}">
                <a class="page-link" href="/administrador/transformadores">Principio</a>
            </li>
            {{#unless isFirst}}
                <li class="page-item"><a class="page-link" href="/administrador/transformadores?page={{previousPage}}">{{previousPage}}</a>
                </li>
            {{/unless}}
            <li class="page-item active">
                <a class="page-link" href="#">{{currentPage}}<span class="sr-only">{{currentPage}}</span></a>
            </li>
            {{#unless isLast}}
                <li class="page-item"><a class="page-link" href="/administrador/transformadores?page={{nextPage}}">{{nextPage}}</a></li>
            {{/unless}}
            <li class="{{#if isLast}}page-item disabled{{else}}page-item{{/if}}">
                <a class="page-link" href="/administrador/transformadores?page={{lastPage}}">Última página</a>
            </li>
        </ul>
    {{/with}}
{{/partial}}

{{>layout.hbs}}